#main.about-page > #secondary-nav {
   display: flex;
   flex-direction: row;
   column-gap: 2rem;
   margin-bottom: 1.2rem;
   margin-left: calc(2rem + 10px);
}

.about-page > #secondary-nav > a {
   font-size: 1rem;
   font-weight: 600;
   color: rgb(56, 71, 79);
}

.about-page > #secondary-nav > a {
   color:rgb(56, 71, 79);
}

.about-page > #secondary-nav > a:first-child {
   color: rgb(255, 118, 77);
}

.ableton-banner {
   position: relative;
   max-width: 85%; /* 81.6vw */
   margin: 0 auto 12vh;
   
}

.ableton-banner > img {
   display: inline-block;
   max-width: 100%;
}

.ableton-banner > h1 {
   position: absolute;
   top: 32%;
   left: 32%;
   font-size: 10vw;
   font-weight: 400;
   color:rgb(255, 118, 77);
   text-shadow: 5px 5px 20px rgb(56, 71, 79);
}

.about-text {
   width: 50vw;
   margin: 0 auto 12vh;
}

.about-text > h2 {
   font-size: 1.8rem;
   font-weight: 600;
   line-height: 1.6;
   color: rgb(56, 71, 79);
   margin-bottom: 1rem;
}

.about-text > p {
   font-size: 1.1rem;
   font-weight: 400;
   line-height: 1.8;
   color: rgb(56, 71, 79);
}

.about-text > p:nth-of-type(2) {
   margin-top: 0.75rem;
}

.promo-space {
   margin-bottom: 12vh;
}

.promo-video {
   width: min-content;
   margin: 0 auto 12vh;
}

.promo-video > p {
   font-size: 1rem;
   font-weight: 600;
   text-align: center;
   color:rgb(56, 71, 79);
}

.ableton-a1 {
   display: flex;
   flex-direction: row;
   width: 92.5%;
   margin-left: 7.5%;
}

.ableton-a1 > img:nth-of-type(1) {
   width: 50%;
   height: 50%;
   padding-top: 8vh;
   padding-bottom: 8vh;
   align-self: center;
   z-index: 2;
}

.ableton-a1 > img:nth-of-type(2) {
   box-sizing: content-box;
   width: 30%;
   margin-left: calc(-12% - 2px);
   padding-right: calc(8% + 2px);
   padding-left: 24%;
   padding-top: 20vh;
   padding-bottom: 20vh;
   align-self: center;
   background-color: rgb(251, 255, 167);
   z-index: 1;
}

.ableton-a2 {
   display: grid;
   grid-template-columns: 2fr, 3fr;
   grid-template-rows: repeat(4, 25vh);
   
   grid-template-areas:
      "img-1 ."
      "img-1 img-3"
      "img-2 img-3"
      "img-2 .";

   width: 85%;
   margin-left: 7.5%;
   margin-right: 7.5%;

}

.ableton-a2 > img:first-of-type {
   grid-area: img-1;
   align-self: center;
   box-sizing: content-box;
   width: 85%;

}

.ableton-a2 > img:nth-of-type(2) {
   grid-area: img-2;
   align-self: center;
   box-sizing: content-box;
   width: 85%;
}

.ableton-a2 > img:last-of-type {
   grid-area: img-3;
   justify-self: right;
   align-self: center;
   width: 85%;
}

.ableton-a3 {
   width: 85%;
   margin-left: 7.5%;
   margin-right: 7.5%;
}

.ableton-a3 > img:only-child {
   width: 100%;
}

.ableton-a4 {
   display: flex;
   flex-direction: row;
   column-gap: 16.6%;
   align-items: center;
   width: 85%;
   margin-left: 7.5%;
   margin-right: 7.5;
}

.ableton-a4 > img:first-child {
   width: 33%;
}

.ableton-a4 > img:last-child {
   width: 50%;
}

.job-teaser {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 66vh;

   width: 85%;
   margin-left: 7.5%;
   margin-right: 7.5%;
   
}

.job-teaser-image > img {
   width: 100%;
   height: 100%;
}

.job-teaser-text {
   width: 100%;
   height: 100%;
   padding: 8rem 7.5rem 0 8rem;
   background-color: rgb(177, 197, 255);
}

.job-teaser-text > p {
   font-size: 1.8rem;
   font-weight: 600;
   line-height: 1.8;
   margin-bottom: 2.5rem;
}

.job-teaser-text > a {
   font-size: 1.8rem;
   font-weight: 600;
   color: rgb(0, 0, 255);
}
